Repository solid/process, pull requests merged in 2019-07, with the labels that each got.

#27 Suggest specification entry document panel
  panels.md
Labels: enhancement

#44 Add proposal for Query panel
  panels.md
Labels: panel proposal

#43 Add proposal for Identity panel
  panels.md
Labels: panel proposal

#42 Add Dmitri Zagidulin to Outreach panel
  panels.md
Labels: panelist application

#41 Add app authorization panel
  panels.md
Labels: panel proposal

#47 Add proposal for Authentication panel
  panels.md
Labels: panel proposal

#52 add data interoperability panel
  panels.md
Labels: panel proposal

#51 Add Dmitri to App Authorization panel
  panels.md
Labels: panelist application

#50 Add Aaron Coburn to query panel
  panels.md
Labels: panelist application

#49 Add proposal for Cryptography (Signing and Encryption) Panel
  panels.md
Labels: panel proposal

#54 Add Panels Table of Contents section
  panels.md
Labels: minor/editorial change

#53 Aplication for Jose Labra for Data interop and Teaching material panels
  panels.md
Labels: panelist application

#63 Add Ruben Verborgh to relevant panels
  panels.md
Labels: panelist application

#28 Application for justinwb to Solid Administrators
  administrators.md
Labels: administrator application

#25 Application from Mitzi to administrators
  administrators.md
Labels: administrator application
