Repository solid/process, pull requests merged in 2019-08, with the labels that each got.

#107 Remove client-side libs panel
  panels.md
Labels: panel proposal

#80 Update code-of-conduct.md
  code-of-conduct.md
Labels: process proposal

#117 Add Ruben Verborgh as editor
  editors.md
Labels: editor application

#83 include reference to links
  README.md
Labels: process proposal

#34 Application for Dmitri to Solid Editors
  editors.md
Labels: editor application
