Repository solid/process, pull requests merged in 2019-09, with the labels that each got.

#121 Add Sarven Capadisli as editor
  editors.md
Labels: editor application

#89 Create solid-manager.md
  manager.md
Labels: manager application

#139 Focus editorial process on spec development
  README.md
Labels: process proposal

#137 list of people working on website content creation
  creators.md
Labels: process proposal

#138 editors to focus on specification
  editors.md
Labels: process proposal

#151 Lisa application to Creators
  creators.md
Labels: creator application
