Repository solid/process, pull requests merged in 2020-02, with the labels that each got.

#175 Create Librarians.md
  librarians.md
Labels: librarian application

#171 Jeff Zucker application to Creators
  creators.md
Labels: creator application

#187 Updated information pertaining to pinned repository. Issue #100
  README.md
Labels: process proposal
